.counter-wrap {
    width: 400px;
    margin: auto;
    background: #f8f8f8;

    .btn-wrap {
        font-size: 30px;
        font-weight: bold;
        display: flex;
        flex-direction: row-reverse;

        .increase, .decrease {
            width: 10%;
            cursor: pointer;
        }
    }
}